<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   mockData.plist
   Veille

   Created by Anthony Da Cruz on 02/05/2018.
   Copyright (c) 2018 Anthony Da Cruz. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
